/* Hero Section */

.hero-section,
header {
  background: #f7f8f8
}

/* Service Text */

.service-text {
  border-bottom: 2px solid red;
}

.hr-custom {
  border-bottom: 1px solid #d8dbdf;
}

/* pricing items */


.pricing-items {
  border: 1px solid #d8dbdf;
}

.contact-btn {
  background: #d13636;
  padding: 6px 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: white;
  border-radius: 90px;
}

/* tess */

.tess-custom {
  border-width: 2px;
  clip-path: polygon(50px 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, calc(100% - 50px) 100%, 50px 100%, 0 100%, 0 0);
  width: 365px;
  height: 365px;
  box-shadow: 0px 8px 0px 4px black;
  /* transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + -65px)) rotate(0deg) translateZ(0) */
}

.tess-custom2{
  right:-2px;top:48px;width:70.71067811865476px;height:2px
}